.searchComp {
    width: 100vw;
    height: fit-content;
    background-color: #141414;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.searchDisplay {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 95vw;
    height: fit-content;
    left: 10px;
    flex-wrap: wrap;
}

.space {
    height: 70px;
    width: 100vw;
}

.searchItem {
    position: relative;
    margin: 3px;
    width: 24%;
    height: 170px;
    // color: red;
    // display: inline-block;
    // width: 300px;
    // margin-left: 10px;
    // margin-top: 50px;
    // transition: all 400ms ease-in;
}

.noResults {
    height: 100vh;
    width: 100vw;
    background-color: #141414;
    display: flex;
    align-items: center;
    justify-content: center;
}

.shrug {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

