.searchComp {
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;

}

.searchDisplay {
    display: flex;
    justify-content: flex-start;
    width: 90vw;
    height: 90vh;
    flex-wrap: wrap;
}


.searchItem {
    position: relative;
    margin: 3px;
    width: 24%;
    height: 170px;
    background-color: white;
    color: red;
}

