// Place all the styles related to the api/videos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.addButton {
    cursor: pointer;
    transition: all 500ms ease-in;
    position: relative;
    background-color: #141414;
    color: grey;
    border:2px solid grey;
    padding: 10px 15px;
    text-align: center;
    font-weight: 1000;
    font-style: bold;
    display: inline-block;
    font-size: 20px;
    border-radius: 50%;
    right: 121px;
    text-shadow: 0px -1px grey;
    top: 50px;
    z-index: 4;
  }

  .addButton:hover,
  .srchAddBut:hover {
    color: white;
    border-color: white;
    text-shadow: 0px -1px white;
    font-style: bold;
  }

  .srchAddBut {
    cursor: pointer;
    transition: all 500ms ease-in;
    position: absolute;
    background-color: #141414;
    color: grey;
    border:2px solid grey;
    padding: 10px 15px;
    text-align: center;
    font-weight: 1000;
    font-style: bold;
    // display: inline-block;
    border-radius: 50%;
    right: 30px;
    top: 140px;
  }

  .muteBut {
    cursor: pointer;
    transition: all 500ms ease-in;
    position: relative;
    background-color: #141414;
    color: grey;
    border:2px solid grey;
    padding: 10px 5px;
    text-align: center;
    // font-weight: 1000;
    // font-style: bold;
    display: inline-block;
    font-size: 20px;
    border-radius: 50%;
    right: 215px;
    text-shadow: 0px -1px grey;
    top: 50px;
    z-index: 4;
  }

  .muteBut:hover {
    color: white;
    border-color: white;
    text-shadow: 0px -1px white;
    font-style: bold;
  }

  .vidPage {
    cursor: pointer;
    transition: all 500ms ease-in;
    position: relative;
    background-color: #141414;
    color: grey;
    border:2px solid grey;
    padding: 7px 9px;
    text-align: center;
    display: inline-block;
    font-size: 25px;
    border-radius: 50%;
    right: 307px;
    top: 52px;
    z-index: 4;
  }

  .vidPage:hover {
    color: white;
    border-color: white;
    font-style: bold;
  }