// Place all the styles related to the api/videos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.addButton {
    cursor: pointer;
    transition: all 500ms ease-in;
    position: relative;
    background-color: #141414;
    color: grey;
    border:2px solid grey;
    padding: 10px 15px;
    text-align: center;
    font-weight: 1000;
    font-style: bold;
    display: inline-block;
    font-size: 20px;
    border-radius: 50%;
    right: 121px;
    text-shadow: 0px -1px grey;
    top: 50px;
    z-index: 4;
  }

  .addButton:hover,
  .srchAddBut:hover {
    color: white;
    border-color: white;
    text-shadow: 0px -1px white;
    font-style: bold;
  }

  .srchAddBut {
    cursor: pointer;
    transition: all 500ms ease-in;
    position: absolute;
    background-color: #141414;
    color: grey;
    border:2px solid grey;
    padding: 10px 15px;
    text-align: center;
    font-weight: 1000;
    font-style: bold;
    border-radius: 50%;
    right: 76px;
    top: 170px;
  }

  .muteBut {
    cursor: pointer;
    transition: all 500ms ease-in;
    position: relative;
    background-color: #141414;
    color: grey;
    border:2px solid grey;
    padding: 10px 5px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    border-radius: 50%;
    right: 215px;
    text-shadow: 0px -1px grey;
    top: 50px;
    z-index: 4;
  }

  .muteBut:hover {
    color: white;
    border-color: white;
    text-shadow: 0px -1px white;
    font-style: bold;
  }

  .vidPage {
    text-decoration: none;
    cursor: pointer;
    transition: all 500ms ease-in;
    position: relative;
    background-color: #141414;
    color: grey;
    border:2px solid grey;
    padding: 7px 9px;
    text-align: center;
    display: inline-block;
    font-size: 25px;
    border-radius: 50%;
    right: 307px;
    top: 52px;
    z-index: 4;
  }

  .vidPage:hover,
  .srchPlayBut:hover,
  .srchMuteBut:hover {
    text-decoration: none;
    color: white;
    border-color: white;
    font-style: bold;
  }

  .srchPlayBut {
    text-decoration: none;
    cursor: pointer;
    transition: all 500ms ease-in;
    position: absolute;
    background-color: #141414;
    color: grey;
    border:2px solid grey;
    padding: 6px 9px;
    text-align: center;
    display: inline-block;
    font-size: 25px;
    border-radius: 50%;
    right: 177px;
    top: 170px;
    z-index: 4;
  }
  
  .srchMuteBut{
    cursor: pointer;
    transition: all 500ms ease-in;
    position: absolute;
    background-color: #141414;
    color: grey;
    border:2px solid grey;
    padding: 6px 4px;
    text-align: center;
    display: inline-block;
    font-size: 25px;
    border-radius: 50%;
    right: 125px;
    top: 170px;
    z-index: 4;
  }

.view {
  background-color: #141414;
  width: 100%;
  max-height: 100%;
  top: 100%;
}

.centerDiv {
  display: flex;
  justify-content: center;
}

.fullVideo{
  height: 100%;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  background-color: black;
}
  