
#backGround {
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    background-image:linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), image-url("background/Background.jpg");
    z-index: 0;
}


#gradient {
    position: absolute;
    z-index: 0;  
}

#getStarted {
    position: absolute;
    height: 40px;
    width: 450px;
    border: 1px solid  #8C8C8C;
    padding: 10px 10px 0 10px;
    min-width: 450px;
    cursor: text;
    top: 500px;
    left: 25vw;
    font-size: 20px;
    line-height: 50px;
    padding-bottom: 10px;
    border: 0;
}

.welcome {
    position: absolute;
    width: 100vw;
    height: 100vh;
}
   

#welcomeH1 {
    position: relative;
    color:white;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    text-align: center;
    height: 110px;
    width: 640px;
    top:250px;
    left: 24%;
}

#welcomeH3 {
    position: relative;
    color:white;
    font-size: 26px;
    font-family: Arial, Helvetica, sans-serif;
    top:270px;
    left: 37%;
}

#welcomeP {
    position: relative;
    color:white;
    font-size: 19.2px;
    font-family: Arial, Helvetica, sans-serif;
    top:300px;
    left: 24%;
}

#demoBut {
    position: relative;
    color: white;
    font-size: 19.2px;
    font-family: Arial, Helvetica, sans-serif;
    top:279px;
    left: 82%;
    background-color: transparent;
    font-weight: 700;
}
#demoBut:hover {
    text-decoration-color:  #E50914;
    text-decoration-line: underline;
}

#getBut{
    position: absolute;
    font-size: 20px;
    background-color:  #E50914;
    color: white;
    top: 500px;
    left: 723px;
    height: 60px;
    width: 180px;
    border:0;
}

#getBut:hover{
    background-color:  #ff0410;
    color: white;
}