
#backGround {
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    background-image:linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), image-url("background/Background.jpg");
}


#gradient {
    position: absolute;
    z-index: 0;  
}

.welcome {
    position: absolute;
    display: flex;
    height: 90vh;
    width: 100vw;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
   

#welcomeH1 {
    color:white;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    height: 110px;
    width: 640px;
    text-align: center;
    padding-bottom: 15px;
}

#welcomeH3 {
    text-align: center;
    color:white;
    font-size: 26px;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 40px;
}

#line {
    display: flex;
    flex-direction: row;
    padding-bottom: 15px;
}

#welcomeP {
    color:white;
    font-size: 19.2px;
    font-family: Arial, Helvetica, sans-serif;
}

#demoBut {
    color: rgb(255, 172, 172);
    font-size: 19.2px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: transparent;
    font-weight: 700;
}

#demoBut:hover {
    color: white;
    text-decoration-color:  #E50914;
    text-decoration-line: underline;
}

#line2 {
    display: flex;
    flex-direction: row;
   
}

#getBut{
    background-color:  #E50914;
    color: white;  
    padding-top: 12px;
    padding-bottom: 19px;
    padding-left: 20px;
    padding-right: 25px;
    font-size: 26px;
    border:0;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

#getBut:hover{
    background-color:  #ff0410;
    color: white;
}

#getStarted {
    height: 40px;
    width: 450px;
    padding: 9px 10px 0 10px;
    min-width: 450px;
    cursor: text;
    font-size: 20px;
    line-height: 50px;
    padding-bottom: 12px;
    border: 0;
}

.emailError {
    display: contents;
    position: absolute;
    color: #ffa00a;
    font-size: 25px;
    width: 120px;
    margin-top: 10px;
    margin-left: 5px;
}