.homePage {
    background-color: black;
    height: 100vh; 
    width: 100vw;
    z-index: 0;
}

.topTen {
    position: relative;
    top:300px;
    left: 0;
    padding-right: 10px;
    width: 100vw;
    height: 100vw;
    z-index: 2;
    overflow-y: auto;
    overflow-x: scroll;
    white-space: nowrap;
    // overflow: hidden;
    // transform-origin: right top;
    // transform:rotate(-90deg) ;
    // transform:rotate(90deg) translateY(20px)
    // translateX(400px);
}

.topTen::-webkit-scrollbar {
    display: none;
}
  
.topTen > div {
    display: inline-block;
    width: 400px;
    height: 400px;
    color:salmon;
    background-color: #008AA5;
    z-index: 1;
    transform-origin: right top;
    font-size: 100px;
}

