.homePage {
    background-color: black;
    height: 100vh; 
    width: 100vw;
    z-index: 0;
}

.topTen {
    position: relative;
    top: 300px;
    width: 100vw;
    height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    transform-origin: right top;
    z-index: 1;
    transform:rotate(-90deg) translateY(-100px);
}

.topTen > div {
    width: 400px;
    height: 400px;
    color:salmon;
    background-color: #008AA5;
    transform-origin: right top;
    z-index: 1;
    transform:rotate(90deg) translateY(20px)
    translateX(400px);
    font-size: 100px;
}