.homePage,
.typeShowPage {
  display: flex;
  background-color:#141414;
  height: 100%; 
  width: 100vw;
  z-index: 0;
  flex-direction: column;
}

.previewBox {
  height: 700px;
  width: 100vw;
  z-index: 1;
}

.previewBox video {
  left: 0%;
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.action, .comedy, .drama {
  height: 250px;
  z-index: 2;
  width: 100%;
  overflow-y: hidden;
  overflow-x: scroll;
  white-space: nowrap;
}

.comedyContainer, 
.actionContainer, 
.dramaContainer,
.myListContainer  {
  position: relative;
  margin-top: 20px;
  width: 100%;
  display: block;
}

.myList {
  height: 250px;
  padding-top: 15px;
  width: 100%;
  overflow-y: hidden;
  overflow-x: scroll;
  white-space: nowrap;
}

// hide scroll bars ***************
.myList::-webkit-scrollbar {
  display: none;
}
.actionContainer::-webkit-scrollbar, .comedyContainer::-webkit-scrollbar, .dramaContainer::-webkit-scrollbar {
  display: none;
}
.action::-webkit-scrollbar, .comedy::-webkit-scrollbar, .drama::-webkit-scrollbar {
  display: none;
}
// **************************

.videoComp {
  display: inline-block;
  width: 300px;
  margin-left: 10px;
  margin-top: 50px;
  transition: all 400ms ease-in;
}

.videoComp video {
  opacity: 0;
  transition: all 500ms ease-in;
  height: 70%;
  width: 0px;
  object-fit: fill;
  position: absolute;
  right: 0%;
}

.videoComp:hover video {
  opacity: 1;
  width: 100%;
}

.videoComp:hover ~ .videoComp {
  transform: translateX(25%);
}

.videoComp:focus,
.videoComp:hover {
  transform: scale(1.5);
  height: 250px;
  z-index: 10;
}

.videoComp img {
  width: 300px;
  height: 200px;
  z-index: 14;
  border-radius: 10px;
}

.genre {
  left: 70px;
  color:white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  font-weight: 600;
  z-index: 0;
  position: absolute;
}

.pixelSpace {
  display: inline-block;
  width: 50px;
  height: auto;
}

.prev, .next {
  transition: all 500ms ease-in;
  cursor: pointer;
  position: absolute;
  color: white;
  font-weight: bold;
  font-size: 90px;
  z-index: 4;
  top: 20%;
  padding: 7px;
  padding-top: 60px;
  padding-bottom: 50px;
  border-radius: 3px 0 0 3px;
  -webkit-touch-callout: none; 
  -webkit-user-select: none; 
  -khtml-user-select: none; 
  -moz-user-select: none; 
  -ms-user-select: none; 
  user-select: none;
}

.next {
  right: 0;
  padding: 25px;
  padding-top: 60px;
  padding-bottom: 50px;
}

.prev:hover, .next:hover {
  background: rgba(0, 0, 0, 0.5);
}

.logos {
  height: 180px;
  width: auto;
  display: flex;
  align-content: center;
  justify-content: center;
  background: linear-gradient(to bottom, rgba(22, 22, 22, 1), rgba(90, 90, 90, 1));
  margin-top: 80px;
  
  .linkedIn {
    background-size: cover;
    width: 100px;
    height: 100px;
    background-image: image-url("logos/linkedin.png");
    align-self: center;
    margin: 10px;
    &:hover{
      cursor: pointer;
    }
  }
  .gitHub {
    background-image: image-url("logos/GitHub.png");
    background-size: cover;
    width: 100px;
    height: 100px;
    align-self: center;
    margin: 10px;
    &:hover{
      cursor: pointer;
    }
  }
}

.hidden {
  opacity: 0.0;
}