.navBar {
    display: flex;
    position: absolute;
    height: 3.7vmax;
    width: 100vw;
    background-color: rebeccapurple;
    flex-direction: row;
}


.navBar #logo {
    position: relative;
    top:50%;
    left: 29px;
    height: 30px;
    width: 90px;   
    background-size: cover;
    background-image: image-url("logos/Neatflix.png");
    z-index: 1;
    transform: translate(0, -50%);
}

#search {
    width: 140px;
    height: 20px;
    position: relative;
    left: 60%;
    z-index: 1;
    top: 50%;
    transform: translate(0, -50%);
}