

.signIn-form {
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
    height: 660px;
    width: 450px;
    min-height: 660px;
    min-width: 380px;
    font-size: 16px;
    box-sizing: border-box;
    border-radius: 4px;
    background: rgba(0, 0, 0, 0.7);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.signIn-form > h1 {
    font-size: 32px;
    display: flex;
    color: white;
    display: block;
}

.signIn {
    position: relative;
    display: flex;
    align-content: center;
    justify-content: center;
    height: 50px;
    width: 314px;
    padding: 16px, 20px, 0, 20px;
    border-radius: 4px;
}

#siBut {
    position: relative;
    top: 80px;
    background-color: #E50914;
    color: white;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
}

