.signIn {
    position: relative;
    display: flex;
    top: 50px;
    height: 50px;
    width: 314px;
    padding: 16px, 20px, 0, 20px;
    border-radius: 4px;
}

.signIn-form {
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
    height: 660px;
    width: 450px;
    min-height: 660px;
    min-width: 380px;
    font-size: 16px;
    box-sizing: border-box;
    border-radius: 4px;
    background: rgba(0, 0, 0, 0.7);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.signIn-form > h1 {
    position: relative;
    font-size: 32px;
    font-weight: 700;
    top: 30px;
    right: 103px;
    display: flex;
    color: white;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
}

#password{
    position: relative;
    display: flex;
    top: 70px;
    height: 50px;
}

#sifBut { 
    position: relative;
    top: 140px;
    background-color: #E50914;
    color: white;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
    justify-content: center;
    line-height: 45px;
    height: 50px;
    width: 314px;
    padding: 16px, 20px, 0, 20px;
    border-radius: 4px;
}

#newTo {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color:  #737373;
    position: fixed;
    top: 400px;
    left: 70px;
}

#SignUpNow {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: white;
    position: fixed;
    top: 400px;
    left: 190px;
    text-decoration: none;
}

.errors {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
