.splash-bar {
    display:flex;
    position: absolute;
    height: 64px;
    width: 100%;
    flex-direction: row;
    align-items: center;
    z-index: 1;
}

#button {
    position: absolute;
    top: 38px;
    left: 88vw;
    background-color: #E50914;
    opacity: 1.0;
    color: floralwhite;
    border-radius: 4px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 16px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 6;
}

#logo {
    position: absolute;
    top: 22px;
    left: 29px;
    height: 45px;
    width: 167px;
    background-size: cover;
    background-image: image-url("logos/Neatflix.png");
    z-index: 10;
}

#siBut {
    position: absolute;
    font-weight: 700;
    color: #333;
    top: 48px;
    left: 88vw;
    font-size: 16px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

#siBut:hover {
    text-decoration-line: underline;
}
