.splash-bar {
    display:flex;
    position: absolute;
    height: 64px;
    width: 100%;
    flex-direction: row;
    align-items: center;
    z-index: 1;
}
.splash-bar button {
    position: relative;
    top: 22px;
    left: 70%;
    background-color: #E50914;
    opacity: 1.0;
    color: floralwhite;
    border-radius: 4px;
    height: 30px;
    font-size: 16px;
}
.splash-bar #logo {
    position: relative;
    top: 22px;
    left: 29px;
    height: 45px;
    width: 167px;
    background-size: cover;
    background-image: image-url("logos/Neatflix.png");
   
}



