.splash-bar {
    display:flex;
    position: absolute;
    height: 64px;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}
.splash-bar button {
    background-color: #E50914;
    opacity: 1.0;
    color: floralwhite;
    border-radius: 4px;
    height: 30px;
    font-size: 16px;
}
.splash-bar #logo {
    height: 45px;
    width: 167px;
    background-size: cover;
    background-image: image-url("logos/Neatflix.png");
    left: 5%;
}



